absl-py==0.8.0
adal==1.2.4
adjustText==0.7.3
alabaster==0.7.12
albumentations==0.5.1
altair==4.1.0
amqp==5.0.1
anaconda-client==1.7.2
anaconda-navigator==1.9.7
anaconda-project==0.8.3
analytics-python==1.2.9
antiorm==1.2.1
appdirs==1.4.4
appnope==0.1.0
appscript==1.0.1
args==0.1.0
arrow==1.1.0
asciinema==2.0.2
asn1crypto==1.3.0
astor==0.8.0
astroid==2.3.3
astropy==4.0
astunparse==1.6.3
async-generator==1.10
atomicwrites==1.3.0
attr==0.3.1
attrs==19.3.0
Augmentor==0.2.8
autoviz==0.0.68
azure-cognitiveservices-search-imagesearch==2.0.0
azure-common==1.1.25
Babel==2.8.0
backcall==0.1.0
backports.functools-lru-cache==1.6.1
backports.os==0.1.1
backports.shutil-get-terminal-size==1.0.0
backports.tempfile==1.0
backports.weakref==1.0.post1
bar-chart-race==0.1.0
bayesian-optimization==1.1.0
beautifulsoup4==4.9.3
billiard==3.6.3.0
binaryornot==0.4.4
bitarray==1.2.1
bkcharts==0.2
black==20.8b1
bleach==3.1.0
blessed==1.15.0
blis==0.4.1
bokeh==2.3.1
boto==2.49.0
boto3==1.12.12
botocore==1.15.12
Bottleneck==1.3.1
bqplot==0.12.10
branca==0.3.1
bravado==10.6.0
bravado-core==5.16.1
bz2file==0.98
cachetools==4.0.0
camelot-py==0.8.2
Cartopy==0.17.0
catalogue==1.0.0
catboost==0.21
category-encoders==2.1.0
celery==5.0.0
certifi==2019.11.28
cffi==1.14.0
chardet==3.0.4
chart-studio==1.0.0
click==7.1.2
click-didyoumean==0.0.3
click-plugins==1.1.1
click-repl==0.1.6
cligj==0.5.0
clint==0.5.1
cloudpickle==1.3.0
clyent==1.2.2
colab-cli==2.2.5
colorama==0.4.3
colorcet==2.0.2
colorlover==0.3.0
colour==0.1.5
combo==0.0.8
conda==4.8.3
conda-build==3.18.8
conda-package-handling==1.6.0
conda-verify==3.4.2
ConfigArgParse==1.2.1
configparser==5.0.2
confuse==1.0.0
contextlib2==0.6.0.post1
cookiecutter==1.7.2
coursera-dl==0.11.5
coverage==5.1
cryptography==2.8
cssselect==1.1.0
cssutils==1.0.2
cufflinks==0.17.0
cycler==0.10.0
cymem==2.0.2
Cython==0.29.14
cytoolz==0.9.0.1
dabl==0.1.9
dacite==1.5.1
dash==1.7.0
dash-bootstrap-components==0.7.2
dash-core-components==1.6.0
dash-html-components==1.0.2
dash-renderer==1.2.2
dash-table==4.5.1
dask==2.10.1
dataclasses==0.6
datashader==0.10.0
datashape==0.5.2
datatable==0.9.0
db==0.1.1
db-sqlite3==0.0.1
decorator==4.4.1
defusedxml==0.6.0
Deprecated==1.2.7
descartes==1.1.0
dexplot==0.1.1
dill==0.2.9
distributed==2.10.0
docker-pycreds==0.4.0
docutils==0.15.2
docxtpl==0.6.3
driverlessai==1.9.1.post1
dtreeviz==1.3
earthengine-api==0.1.221
eli5==0.10.1
Elixir==0.7.1
emacs==24.1.50.1.post20120610
emails==0.6
emot==2.1
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.2.5/en_core_web_sm-2.2.5.tar.gz
entrypoints==0.3
et-xmlfile==1.0.1
excalibur==1.0.9
excalibur-py==0.4.3
Faker==6.3.0
fastai==2.0.8
fastai2==0.0.17
fastcache==1.1.0
fastcore==1.0.1
fastprogress==1.0.0
fastscript==0.1.4
ffmpeg==1.4
filelock==3.0.12
Fiona==1.8.13
fire==0.2.1
flashtext==2.7
Flask==1.1.1
Flask-Compress==1.4.0
folium==0.11.0
fsspec==0.6.2
future==0.18.2
gast==0.3.3
geeadd==0.4.8
geemap==0.6.13
gensim==3.8.0
geocoder==1.38.1
geographiclib==1.50
geopandas==0.6.2
geopy==2.0.0
gevent==1.4.0
gif==2.0.0
gitdb==4.0.2
GitPython==3.1.0
glob2==0.7
gmplot==1.2.0
gmpy2==2.0.8
google-api-core==1.17.0
google-api-python-client==1.8.2
google-auth==1.30.0
google-auth-httplib2==0.0.3
google-auth-oauthlib==0.4.1
google-cloud-core==1.3.0
google-cloud-storage==1.28.1
google-images-download==2.8.0
google-pasta==0.2.0
google-resumable-media==0.5.0
googleapis-common-protos==1.51.0
googlemaps==4.4.2
gql==0.2.0
graphql-core==1.1
graphviz==0.13.2
greenlet==0.4.15
grpcio==1.26.0
gunicorn==20.0.4
h11==0.12.0
h2o @ http://h2o-release.s3.amazonaws.com/h2o/rel-zeno/2/Python/h2o-3.30.1.2-py2.py3-none-any.whl
h2o-wave==0.10.0
h2oai-client==1.7.1
h5py==2.10.0
hdbscan==0.8.26
HeapDict==1.0.1
holoviews==1.12.7
html5lib==1.0.1
htmlmin==0.1.12
httpcore==0.12.3
httplib2==0.17.3
httplib2shim==0.0.3
httpx==0.16.1
hyperopt==0.2.3
hypothesis==5.5.4
icon-font-to-png==0.4.1
idna==2.9
imageio==2.6.1
imagesize==1.2.0
imgaug==0.4.0
importlib-metadata==1.5.0
importlib-resources==3.0.0
impyute==0.0.8
inflection==0.4.0
ipyfilechooser==0.3.4
ipykernel==5.1.4
ipyleaflet==0.12.6
ipynb-py-convert==0.4.5
ipysankeywidget==0.4.0
ipython==7.12.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
isodate==0.6.0
isort==4.3.21
itsdangerous==1.1.0
jdcal==1.4.1
jedi==0.17.2
Jinja2==2.11.2
jinja2-time==0.2.0
jmespath==0.9.4
joblib==0.14.1
json5==0.9.1
jsonpointer==2.0
jsonref==0.2
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==5.3.4
jupyter-console==6.1.0
jupyter-contrib-core==0.3.3
jupyter-contrib-nbextensions==0.5.1
jupyter-core==4.6.1
jupyter-highlight-selected-word==0.2.0
jupyter-latex-envs==1.4.4
jupyter-nbextensions-configurator==0.4.1
jupyter-server==0.1.1
jupyter-tabnine==1.2.0
jupyter-tensorboard==0.2.0
jupyter-to-medium==0.1.1
jupyterlab==2.0.1
jupyterlab-code-formatter==1.3.6
jupyterlab-email==0.2.3
jupyterlab-git==0.22.3
jupyterlab-latex==2.0.0
jupyterlab-pygments==0.1.1
jupyterlab-server==1.0.6
jupyterlab-sql==0.3.3
jupyternotify==0.1.15
kaggle==1.5.10
Keras==2.4.3
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
keyring==21.1.0
kiwisolver==1.1.0
kombu==5.0.2
lassonet==0.0.1
lazy-object-proxy==1.4.3
libarchive-c==2.8
lief==0.9.0
lightgbm==2.3.1
lime==0.2.0.1
llvmlite==0.31.0
locket==0.2.0
logzero==1.5.0
lux-api==0.2.1.1
lux-widget==0.1.1
lxml==4.5.0
mapclassify==2.2.0
Markdown==3.1.1
MarkupSafe==1.1.1
matplotlib==3.2.2
mccabe==0.6.1
missingno==0.4.2
mistune==0.8.4
mkl-fft==1.0.15
mkl-random==1.1.0
mkl-service==2.3.0
ml-autodoc===1.0.1-e40969c
mock==4.0.1
monotonic==1.5
more-itertools==8.2.0
mplcursors==0.3
mplcyberpunk==0.1.11
mpmath==1.1.0
msgpack==0.6.1
msgpack-numpy==0.4.3.2
msgpack-python==0.5.6
msrest==0.6.17
msrestazure==0.6.4
mss==5.1.0
multipledispatch==0.6.0
munch==2.5.0
murmurhash==1.0.2
mypy-extensions==0.4.3
navigator-updater==0.2.1
nbconvert==5.6.1
nbdev==0.2.18
nbdime==2.1.0
nbformat==5.0.4
nbresuse==0.3.6
neptune-client==0.9.4
neptune-notebooks==0.9.0
neptune-sklearn==0.9.1
networkx==2.4
nltk==3.4.5
nose==1.3.7
notebook==6.0.3
numba==0.48.0
numdifftools==0.9.39
numerizer==0.1.5
numexpr==2.7.1
numpy==1.19.1
numpydoc==0.9.2
nvidia-ml-py3==7.352.0
oauth2client==4.1.3
oauthlib==3.1.0
olefile==0.46
opencv-python==4.3.0.36
opencv-python-headless==4.4.0.46
openpyxl==3.0.3
opt-einsum==3.1.0
OWSLib==0.18.0
packaging==20.1
palettable==3.3.0
pandas==1.2.1
pandas-alive==0.2.4
pandas-bokeh==0.5
pandas-datareader==0.8.1
pandas-profiling==2.5.0
pandasgui==0.2.5.1
pandocfilters==1.4.2
param==1.9.2
parso==0.7.1
partd==1.1.0
path==13.1.0
path.py==12.5.0
pathlib2==2.3.5
pathspec==0.8.0
pathtools==0.1.2
patsy==0.5.1
pbr==5.5.0
pdfminer.six==20200726
pdftotext==2.1.5
PDPbox==0.2.0
pep8==1.7.1
pexpect==4.8.0
phik==0.9.9
pickleshare==0.7.5
Pillow==7.2.0
pip-autoremove==0.9.1
pkginfo==1.5.0.1
plac==0.9.6
plotly==4.12.0
pluggy==0.13.1
ply==3.11
poyo==0.5.0
ppscore==1.1.1
premailer==3.7.0
preshed==3.0.2
pretty-errors==1.2.19
prometheus-client==0.7.1
promise==2.3
prompt-toolkit==3.0.3
protobuf==3.15.8
psutil==5.6.7
ptvsd==4.3.2
ptyprocess==0.6.0
py==1.8.1
py-toolbox==0.7.0
py3nvml==0.2.5
pyarrow==0.16.0
pyasn1==0.4.8
pyasn1-modules==0.2.7
pycodestyle==2.5.0
pycore==17.4.17
pycosat==0.6.3
pycountry==19.8.18
pycparser==2.20
pycrypto==2.6.1
pyct==0.4.6
pycurl==7.43.0.5
pydotplus==2.0.2
PyDrive==1.3.1
pyepsg==0.4.0
pyflakes==2.1.1
pyflux==0.4.17
Pygments==2.5.2
PyJWT==1.7.1
pykdtree==1.3.1
pylint==2.4.4
pynput==1.7.1
pyobjc-core==6.2.2
pyobjc-framework-Cocoa==6.2.2
pyobjc-framework-Quartz==6.2.2
pyod==0.7.7.1
pyodbc===4.0.0-unsupported
pyOpenSSL==19.1.0
pyparsing==2.4.6
PyPDF2==1.26.0
pyproj==2.4.2.post1
PyQt5==5.15.1
PyQt5-sip==12.8.1
PyQtWebEngine==5.15.1
pyrsistent==0.15.7
pyshp==2.1.0
PySocks==1.7.1
pytest==5.3.5
pytest-arraydiff==0.3
pytest-astropy==0.8.0
pytest-astropy-header==0.1.2
pytest-cov==2.8.1
pytest-doctestplus==0.5.0
pytest-filter-subpackage==0.1.1
pytest-openfiles==0.4.0
pytest-pylint==0.15.0
pytest-remotedata==0.3.2
python-dateutil==2.8.1
python-docx==0.8.7
python-jsonrpc-server==0.4.0
python-language-server==0.36.2
python-magic==0.4.18
python-slugify==4.0.0
pytz==2019.3
pyviz-comms==0.7.2
pywaffle==0.5.1
PyWavelets==1.1.1
pyxml2pdf==0.0.2
PyYAML==5.3
pyzmq==18.1.1
qeds==0.6.2
qgrid==1.1.1
QtAwesome==0.6.1
qtconsole==4.6.0
QtPy==1.9.0
Quandl==3.5.0
quantecon==0.4.6
ratelim==0.1.6
regex==2020.2.20
reportlab==3.5.59
requests==2.23.0
requests-oauthlib==1.3.0
retrying==1.3.3
rfc3986==1.4.0
rfc3987==1.3.8
rise==5.5.1
rope==0.16.0
rsa==4.0
ruamel-yaml==0.15.87
s3transfer==0.3.3
sacremoses==0.0.35
scikit-image==0.16.2
scikit-learn==0.24.1
scikit-plot==0.3.7
scipy==1.4.1
seaborn==0.10.0
selenium==3.141.0
Send2Trash==1.5.0
sentencepiece==0.1.85
sentry-sdk==0.16.2
shap==0.35.0
Shapely==1.7.0
shellingham==1.4.0
shortuuid==1.0.1
sidecar==0.4.0
simple-image-download==0.31
simplegeneric==0.8.1
simplejson==3.17.0
singledispatch==3.4.0.3
six==1.14.0
sklearn==0.0
slugify==0.0.1
smart-open==1.9.0
smmap==3.0.1
sniffio==1.2.0
snowballstemmer==2.0.0
solt==0.1.9
sortedcollections==1.1.2
sortedcontainers==2.1.0
soupsieve==1.9.5
spacy==2.3.2
Sphinx==2.4.0
sphinxcontrib-applehelp==1.0.1
sphinxcontrib-devhelp==1.0.1
sphinxcontrib-htmlhelp==1.0.2
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.2
sphinxcontrib-serializinghtml==1.1.3
sphinxcontrib-websupport==1.2.0
spyder==3.3.6
spyder-kernels==0.5.2
SQLAlchemy==1.3.20
sqlalchemy-migrate==0.13.0
sqlparse==0.4.1
srsly==1.0.2
starlette==0.13.8
statsmodels==0.11.0
strict-rfc3339==0.7
stylecloud==0.3
subprocess32==3.5.4
suod==0.0.2
swagger-spec-validator==2.5.0
sweetviz==1.1.1
sympy==1.5.1
tables==3.6.1
tabulate==0.8.2
tangled-up-in-unicode==0.0.3
tbb==2019.0
tblib==1.6.0
Tempita==0.5.2
tensorboard==2.2.2
tensorboard-plugin-wit==1.7.0
tensorflow==2.2.0
tensorflow-estimator==2.2.0
termcolor==1.1.0
terminado==0.8.3
testpath==0.4.4
text-unidecode==1.3
tf==1.0.0
thinc==7.4.1
threadpoolctl==2.1.0
tinycss==0.4
toml==0.10.2
toolz==0.10.0
torch==1.6.0
torchvision==0.7.0
tornado==6.0.4
tqdm==4.43.0
traitlets==4.3.3
traittypes==0.2.1
transformers==2.3.0
tweepy==3.9.0
typed-ast==1.4.1
typer==0.1.1
typesentry==0.2.7
typing-extensions==3.7.4.1
ujson==4.0.2
umap-learn==0.4.1
unicodecsv==0.14.1
uritemplate==3.0.1
urllib3==1.24.3
uvicorn==0.12.2
vine==5.0.0
virtualenv==16.7.9
visions==0.2.2
voila==0.1.23
wandb==0.10.26
wasabi==0.6.0
watchdog==0.10.3
wcwidth==0.1.8
webcolors==1.11.1
webencodings==0.5.1
websocket-client==0.57.0
Werkzeug==0.16.1
widgetsnbextension==3.5.1
wordcloud==1.6.0
wrapt==1.12.1
wurlitzer==2.0.0
xarray==0.15.1
xeus-python==0.8.3
xgboost==0.90
xlrd==0.7.1
XlsxWriter==1.2.7
xlwings==0.17.1
xlwt==0.7.2
xmltodict==0.12.0
yellowbrick==1.3.post1
zict==1.0.0
zipp==3.1.0
